<div class="right-0 top-1/2 transform -translate-y-1/2 z-50 flex flex-col space-y-2 px-6 lg:px-8">
   
    <a href="#heroSection1" class="p-2 bg-gray-200 rounded-full hover:scale-110 transition-transform"></a>
    <a href="#heroSection2" class="p-2 bg-gray-200 rounded-full hover:scale-110 transition-transform"></a>
    <a href="#heroSection3" class="p-2 bg-gray-200 rounded-full hover:scale-110 transition-transform"></a>
  </div>