---
// Componente ProductCard.astro
const { id, title, description, imageUrl, price } = Astro.props;
// Función para recortar texto
const truncateText = (text, limit) => text.length > limit ? `${text.substring(0, limit)}...` : text;
---

<div class="card card-compact w-full bg-base-100 shadow-xl">
  <div class="relative overflow-hidden w-full">
    <figure><img src={imageUrl} alt={title} class="w-full h-56 object-cover" /></figure>
    <a href="#" class="absolute top-0 right-0 p-4 text-white hover:text-gray-300 transition-transform">
      <img src="/icons/004-heart.svg" alt="Favorites" class="w-6 h-6 hover:scale-110">
    </a>
  </div>
  <div class="card-body">
    <h2 class="card-title">{truncateText(title, 20)}</h2>
    <p>{truncateText(description, 100)}</p>
    <div class="flex justify-between items-center">
      <div class="card-price">
        <h2 class="font-bold uppercase">Price: {price} $</h2>
      </div>
      <button class="btn bg-white font-bold text-gray-500 hover:bg-gray-500 hover:text-white">Buy Now</button>
    </div>
  </div>
</div>
